<div class="module-wrapper">
    <div class="form-all__container">
        <div class="car-form__container">
            <span class="label">AUTO</span>
            <div class="form__wrapper">
                <input type="text" name="brand" id="brand" placeholder="MARKA">
                <input type="text" name="model" id="model" placeholder="MODEL">
                <input type="text" name="year" id="year" placeholder="ROK">
                <input type="text" name="plate_num" id="plate_num" placeholder="TABLICA">
                <span>Kierowca: <select name="owner_id" id="owner_id"></select></span>
            </div>
            <div class="button send-car">WYŚLIJ</div>
        </div>

        <div class="dec-line"></div>

        <div class="owner-form__container">
            <span class="label">KIEROWCA</span>
            <div class="form__wrapper">
                <input type="text" name="name" id="name" placeholder="IMIĘ">
                <input type="text" name="surname" id="surname" placeholder="NAZWISKO">
                <input type="text" name="PESEL" id="PESEL" placeholder="PESEL">
                <input type="text" name="city" id="city" placeholder="MIASTO">
                <input type="text" name="street" id="street" placeholder="ULICA">
                <input type="text" name="home_num" id="home_num" placeholder="NUMER DOMU">
            </div>
            <div class="button send-owner">WYŚLIJ</div>
        </div>
    </div>
</div>