<div class="module-wrapper">
    <div class="item__container">
        <div class="image__container">

        </div>
        <div class="info__container">
            <div class="actuall-info">
                <div class="brand__span">Imie: <span class="name">Brak</span></div>
                <div class="brand__span">Nazwisko: <span class="surname">Brak</span></div>
                <div class="brand__span">Miasto: <span class="city">Brak</span></div>
            </div>
            <div class="buttons">
                <div class="edit">EDYTUJ</div>
                <div class="delete">USUN</div>
            </div>
        </div>
    </div>
</div>