<div class="module-wrapper">
    <div class="item__container">
        <div class="image__container">

        </div>
        <div class="info__container">
            <div class="actuall-info">
                <div class="brand__span">Marka: <span class="brand">Brak</span></div>
                <div class="brand__span">Model: <span class="model">Brak</span></div>
                <div class="brand__span">Rok produkcji: <span class="year">Brak</span></div>
                <div class="brand__span">Tablice: <span class="plate">Brak</span></div>
                <div class="brand__span editable">Kierowca: <span class="owner">Brak</span></div>
            </div>
            <div class="buttons">
                <div class="edit">EDYTUJ</div>
                <div class="delete">USUN</div>
            </div>
        </div>
    </div>
</div>