<div class="module-wrapper">
    <div class="login-module__container">
        <div class="input-fields">
            <div class="input__container">
                <input type="text" name="login" id="login" placeholder="LOGIN">
            </div>
            <div class="input__container">
                <input type="password" name="passwd" id="passwd" placeholder="HASŁO">
            </div>
            <div class="remember-vals">
                 <span><input type="checkbox" name="rem_log" id="rem_log"> Zapamiętaj login</span>
                 <span><input type="checkbox" name="rem_pass" id="rem_pass"> Zapamiętaj hasło</span>
            </div>
        </div>
        <div class="login button">ZALOGUJ</div>
        <div class="register button">ZAREJESTRUJ SIĘ</div>
    </div>
</div>