<div class="module-wrapper">
    <div class="register__container">
        <div class="input-fields__container">
            <input type="text" name="login" id="login" placeholder="LOGIN">
            <input type="text" name="email" id="email" placeholder="EMAIL">
            <input type="password" name="pass1" id="pass1" placeholder="HASŁO">
            <input type="password" name="pass2" id="pass2" placeholder="POWTÓRZ HASŁO">
        </div>
        <div class="buttons__container">
            <div class="register">ZAREJESTRUJ SIE</div>
            <span class="have_acc">Posiadasz już konto? <span class="login">zaloguj się</span>!</span>
        </div>
    </div>
</div>