<div class="module-wrapper">
    <div class="settings__container">
        <div class="data-input__container">
            <h3>DANE UŻYTKOWNIKA</h3>
            <input type="text" name="imie" id="imie" placeholder="IMIE">
            <input type="text" name="nazwisko" id="nazwisko" placeholder="NAZWISKO">
            <div class="select-date">
                <select name="year" id="year"></select>
                <select name="month" id="month"></select>
                <select name="day" id="day"></select>
            </div>
            <div class="submit">ZAPISZ</div>
        </div>
    </div>
</div>